body
{ color: #B0B0E8;
  background: #0A0A3A;
  font: medium optimum, sans-serif; }

table
{ width: 100%; }

table.notfullwidth
{ width: auto; }

td.menu
{ width: 17%; }

td.menu, body.menu
{ vertical-align: top;
  padding-top: 3em; }

table.menu td
{ text-align: center;
  padding: 0;
  border: none;
/*  border: thin outset; */
  font-style: italic; }

td.menu-selected
{ /* border: thin inset; */ }

div.menu-item
{ margin: 0.25em; }

.menu-selected
{ color: #B0B0E8;
  background: #4B4B80 none; }

.menu-home, .menu-information, .menu-commission, .menu-exhibition, .menu-events
{ color: #4B4B80;
  background: #B0B0E8 none; }

td.main, body.main
{ padding: 3em;
  vertical-align: top; }

h1
{ text-align: right;
  font-size: xx-large;
  font-style: italic;
  font-weight: normal;
  margin-top: 0; }

h2
{ text-align: left;
  font-size: large;
  font-style: italic;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 0.25em;
  text-decoration: underline; }

img.photo
{ vertical-align: top;
  border: thin solid #B0B0E8; }

.gallery-left
{ text-align: left;
  clear: both; }

.gallery-left img
{ float: right;
  border: thin solid #B0B0E8; }

.gallery-right
{ text-align: right;
  clear: both; }

.gallery-right img
{ float: left;
  border: thin solid #B0B0E8; }

table.gallery
{ width: 100%; }

table.gallery td
{ text-align: center;
  vertical-align: top;
  border: thin solid #4B4B80; }

.photo-title
{ text-align: center;
  vertical-align: bottom;
  clear: both; }

address.contact
{ font-size: medium;
  font-style: italic;
  font-weight: normal; }

.contact
{ text-align: right; }

address.membership
{ font-size: small;
  font-style: italic;
  font-weight: normal;
  margin-top: 1em; }

address.footer
{ font-size: x-small;
  font-style: italic;
  font-weight: normal; }

body.photo
{ text-align: center;
  padding: 0;
  margin: 0; }

a
{ color: #4B4B80;
  background: transparent; }

a:active
{ color: white;
  background: transparent; }
